[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = http://github.com/junegunn/fzf
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/mysticaltutor"]
	path = bundle/mysticaltutor
	url = https://github.com/caksoylar/vim-mysticaltutor.git
[submodule "bundle/VimCompleteMe"]
	path = bundle/VimCompleteMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible
